@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  background-color: #FAFAFA;
}

$primary-color: #f74062;

.content {

}



// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

// Theme customization
@import "theme/theme";


